[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "static/admin"]
	path = static/admin
	url = https://github.com/woliveiras/netlify-cms-base.git
[submodule "caioflavio.github.io"]
	path = caioflavio.github.io
	url = https://github.com/CaioFlavio/caioflavio.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/CaioFlavio/caioflavio.github.io.git
	branch = master
